<!DOCTYPE html>
<html>
  <head>
    <title>Mapnica</title>
    <%= display_meta_tags(default_meta_tags) %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=<%= Rails.application.credentials.maps[:google_maps_api_key] %>"></script>
    <%= favicon_link_tag '/favicon.ico' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
