<!DOCTYPE html>
<html>
  <head>
    <title>Mapnica</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks': 'reload' %>
    <%= stylesheet_link_tag 'application_mobile', media: 'all', 'data-turbolinks': 'reload' %>
    <%= stylesheet_link_tag 'reset', media: 'all', 'data-turbolinks': 'reload' %>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API_KEY'] %>"></script>
    <%= favicon_link_tag '/favicon.ico' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
